* {
    padding:0px;
    margin:0px;
}

body {
font-family:tahoma;
background-image:url("perfect.png");
background-position: 0 83px;

}
/* header */
header {
    overflow: hidden;
    background-color:#3b5998;
    width:100%;
    height:83px;
    margin:0;
    padding:0;
    color: white;
}
header h1 {


    padding:0;
    font-size:40px;
    margin-top:20px;
    margin-bottom:2px;
    margin-left: 230px;
    float:left;

    font-weight: 500;

}
header form {
    margin-right:200px;
    margin-top:7px;
    float:right;
    padding:3px;
}

header form div {
    font-size:12px;
    float:right;
    padding:3px;
    margin:3px;

}
header input {
    padding:4px;
    height:11px;
    width:140px;
}
header a {
    text-decoration: none;
    color:#8b9dc3;
}

#headbutton {
    background-color:rgb(59,89,172);
    color:white;
    height:20px;
    width:50px;
    margin:2px;
    padding-bottom:16px;
    border-width:1px;
    border-color:black;

}
#headbutton:hover {
    background-color: #3b5998;
    border-width:1px;
    border-color:black;
}
/* body */

main {
    background-image:url("perfect.png");
    width:100%;
    height:100%;

}
section {
    float:left;
    width:35%;
    margin: auto;
    padding: 3% 10% 10% 15%;

}
section h3 {
    color: #3b5998;
    line-height:160%;
}
aside {
    margin:0;
    padding:0;
    float:right;
    width:40%;
}
aside h1 {
    font-weight:lighter;
    line-height: 60px;
    margin-top:25px;
    font-size:200%;
}
input.small {
    width:160px;
    height:24px;
    padding:5px;
    margin:5px;
    border-radius: 5px;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #8b9dc3;

}
input.long {
    width: 350px;
    height:24px;
    padding:5px;
    margin:5px;
    border-radius:5px;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #8b9dc3;
}
a:link {
    color: #3b5998;
}
.jaldi {
    text-decoration: none;
    font-size:10px;

}

.jaldi2 {
    text-decoration: none;
}
.b01 {
    color:white;
    background-color:#349412;
    width:180px;
    height:40px;
    border-radius: 5px;
    font-size:17px;
    border-style: inset;
    border-color: gray;
}
.jaldi3 {
    text-decoration: none;
}


